################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs
/.vs/BlogProjesi/DesignTimeBuild
/.vs/BlogProjesi/FileContentIndex
/.vs/BlogProjesi/v17/.suo
/BlogProjesi/obj/Debug/net8.0/BlogProjesi.AssemblyInfo.cs
/BlogProjesi/obj/Debug/net8.0/BlogProjesi.AssemblyInfoInputs.cache
/BlogProjesi/obj/Debug/net8.0/BlogProjesi.csproj.AssemblyReference.cache
/BlogProjesi/obj/Debug/net8.0/BlogProjesi.sourcelink.json
/BlogProjesi/obj/Debug/net8.0/BlogProjesi.dll
/BlogProjesi/bin
/BlogProjesi/obj
/BusinessLayer/bin
/BusinessLayer/obj
/DataAccessLayer/bin
/DataAccessLayer/obj
/EntityLayer/bin
/EntityLayer/obj
/CoreLayer/bin
/CoreLayer/obj
/bin
/obj
/BlogProjesi/bin/Debug/net8.0/BlogProjesi.dll
/BlogProjesi/bin/Debug/net8.0/BlogProjesi.exe
/BlogProjesi/bin/Debug/net8.0/BlogProjesi.pdb
/BlogProjesi/bin/Debug/net8.0/BusinessLayer.dll
/BlogProjesi/bin/Debug/net8.0/BusinessLayer.pdb
/BlogProjesi/obj/Debug/net8.0/ref/BlogProjesi.dll
/BlogProjesi/obj/Debug/net8.0/apphost.exe
/BlogProjesi/obj/Debug/net8.0/BlogProjesi.dll
/BlogProjesi/obj/Debug/net8.0/BlogProjesi.pdb
/BlogProjesi/obj/Debug/net8.0/refint/BlogProjesi.dll
/BusinessLayer/bin/Debug/net8.0/BusinessLayer.dll
/BusinessLayer/bin/Debug/net8.0/BusinessLayer.pdb
/BusinessLayer/obj/Debug/net8.0/ref/BusinessLayer.dll
/BusinessLayer/obj/Debug/net8.0/BusinessLayer.AssemblyInfo.cs
/BusinessLayer/obj/Debug/net8.0/BusinessLayer.AssemblyInfoInputs.cache
/BusinessLayer/obj/Debug/net8.0/BusinessLayer.csproj.AssemblyReference.cache
/BusinessLayer/obj/Debug/net8.0/BusinessLayer.csproj.CoreCompileInputs.cache
/BusinessLayer/obj/Debug/net8.0/BusinessLayer.dll
/BusinessLayer/obj/Debug/net8.0/BusinessLayer.pdb
/BusinessLayer/obj/Debug/net8.0/BusinessLayer.sourcelink.json
/BusinessLayer/obj/Debug/net8.0/refint/BusinessLayer.dll
