################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BlogProjesi/FileContentIndex
/.vs/BlogProjesi/v17/.suo
/BlogProjesi/obj/Debug/net8.0/BlogProjesi.AssemblyInfo.cs
/BlogProjesi/obj/Debug/net8.0/BlogProjesi.AssemblyInfoInputs.cache
/BlogProjesi/obj/Debug/net8.0/BlogProjesi.csproj.AssemblyReference.cache
/BlogProjesi/obj/Debug/net8.0/BlogProjesi.sourcelink.json
